// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  text-align: left;
}

.header h1{
  color: darkcyan;
  font-size: 340%;
  margin-left: 10%;

}

.addStudent {
  float: right;
  margin-right: 20%;
  text-decoration: none;
  color : white;
  background-color: black;
  font-size: large;
  padding: 10px;
}

.student {
  padding: 3%;
  margin: 7%;
}


.student_pic {
  width: 20%;
  display: inline-block;
}

.student_pic img {
  max-width:70%;
  max-height:70%;
  margin:auto;
  display:block;
}


.student_details {
  width: 50%;
  display: inline-block;
  position: absolute;
  padding-top: 2%;
}

.know_more {
  margin-top: -5%;
  margin-right: 12%;
  float: right;
}

.loggedinUser{
  display: inline-block;
  width:25%;
  margin-top: -7%;
  float: right;
}

.loggedinUser img{
  border-radius: 29px;
}
input,select {
  width: 30%;
  height: 30px;
  border: solid gray 2px;
  display: block;
  font-size: 100%;

}

#image {
  border: none;
}

form,h2 {
  margin-left: 30%;
  width: 70%;
}
